@model UserViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}
<h3 class="text-center">Kullanici Bilgileri</h3>
<div class="row">
    <div class="col-sm-3">
        <img style="width: 165px" src="@Model.Picture" />
    </div>
    <div class="col-sm-9">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Kullanici Adi</th>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <th>E-posta</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Telefon No</th>
                <td>@Model.PhoneNumber</td>
            </tr>
            <tr>
                <th>City</th>
                <td>
                    @if (!String.IsNullOrEmpty(Model.City))
                    {
                        @Model.City
                    }
                    else
                    {
                        <span>belirtilmemis</span>
                    }
                </td>

            </tr>
            <tr>
                <th>Dogum Tarihi</th>
                <td>
                    @if (Model.BirthDay != null)
                    {
                        @Model.BirthDay?.ToShortDateString() @*? anlami, bu deger bos gelirse uygulamamiz patlamaz*@
                    }
                    else
                    {
                        <span>belirtilmemis</span>
                    }
                </td>
            </tr>
            <tr>
                <th>Cinsiyet</th>
                <td>@Model.Gender</td>
            </tr>
        </table>
    </div>
</div>

